RewriteEngine On
RewriteBase /ads/

# Handle directory without trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*[^/])$ $1/ [L,R=301]


<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Chặn truy cập trực tiếp vào thư mục hình ảnh
    RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost [NC]
    RewriteCond %{HTTP_REFERER} !^http://(www\.)?hoanggiakhanh.com [NC]
    RewriteRule \.(jpg|jpeg|png|gif)$ - [F,NC]

    # Thêm tiêu đề bảo mật
    <FilesMatch "\.(jpg|jpeg|png|gif)$">
        Header set X-Content-Type-Options "nosniff"
        Header set X-Frame-Options "SAMEORIGIN"
        Header set Content-Security-Policy "img-src 'self'"
    </FilesMatch>
</IfModule>


